In [2]:
import pandas as pd

In [3]:
data = '../data/samples.json'

In [4]:
df = pd.read_json(data)

In [8]:
df['names']

0       940
1       941
2       943
3       944
4       945
       ...
148    1574
149    1576
150    1577
151    1581
152    1601
Name: names, Length: 153, dtype: int64

In [5]:
df['metadata'][0]

{'id': 940,
 'ethnicity': 'Caucasian',
 'gender': 'F',
 'age': 24.0,
 'location': 'Beaufort/NC',
 'bbtype': 'I',
 'wfreq': 2.0}

In [6]:
df['samples'][0]['otu_ids']

[1167,
 2859,
 482,
 2264,
 41,
 1189,
 352,
 189,
 2318,
 1977,
 3450,
 874,
 1959,
 2191,
 1950,
 2077,
 2275,
 944,
 2184,
 2244,
 2024,
 2419,
 2811,
 165,
 2782,
 2247,
 2011,
 2396,
 830,
 2964,
 1795,
 2722,
 307,
 2178,
 2908,
 1193,
 2167,
 1208,
 2039,
 1274,
 2739,
 2737,
 1314,
 1962,
 2186,
 2335,
 2936,
 907,
 833,
 2483,
 2475,
 2491,
 2291,
 159,
 2571,
 2350,
 2342,
 2546,
 725,
 170,
 1505,
 513,
 259,
 1169,
 258,
 1232,
 1497,
 1498,
 1503,
 412,
 2235,
 1960,
 1968,
 121,
 2065,
 340,
 2110,
 2188,
 357,
 342]

In [17]:
df['samples'][0]['sample_values']

[163,
 126,
 113,
 78,
 71,
 51,
 50,
 47,
 40,
 40,
 37,
 36,
 30,
 28,
 25,
 23,
 22,
 19,
 19,
 14,
 13,
 13,
 13,
 12,
 12,
 11,
 11,
 11,
 10,
 10,
 10,
 8,
 7,
 7,
 7,
 6,
 5,
 5,
 5,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]